.header{
    padding: 0 15px;
    background-color: white;
    .header-top{
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-rows: 1fr;
        padding-top: 5px;
        height: 50px;
        background-color: white;
        .header-img{
            img{
                width: 150px;
            }
        }
        .header-search{
            position: relative;
            margin-right: 20px;
            input{
                width: 100%;
            }
            .header-search-svg{
                position: absolute;
                right: 0px;
                top: 0px;
                font-size: 25px;
                background: linear-gradient(90deg,#E2203A 0,#C41D4A 100%);
                cursor: pointer;
                height: 38px;
                width: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 6px;
                svg{
                    color: white;
                }

            }
        }
        .header-options{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            div{
                display: flex;
                align-items: start;
                span{
                    font-size: 14px;
                    margin-left: 5px;
                    transition: .3s ease-in-out;
                    cursor: pointer;
                    &:hover{
                        color: #c41d4a;
                    }
                    img{
                        width: 20px;
                    }
                }
                svg{
                    font-size: 18px;
                }
            }
        }
    }
    .header-bottom{
        padding-top: 20px;
        z-index: 9;
        .header-bottom-titles{
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 40px;
            h2{
                font-size: 20px;
                padding-bottom: 3px;
                cursor: pointer;
                transition: .001s ease-in-out;
                &:hover{
                    border-bottom: 3px #000 solid;
                }
            }
        }
        .header-bottom-dropdown{
            display: flex;
            justify-content: space-evenly;
            padding-top: 20px;
            max-height: 0px;
            transition: .3s ease-in-out;
            z-index: 8;
            overflow: hidden;
            &.show{
                max-height: 350px;
            }
            &.hide{
                min-height: 0px ;
            }
            div{
                margin: 5px;
                display: flex;
                flex-direction: column;
                a{
                    text-decoration: none;
                    color: #E2203A;
                }
                h3{
                    font-size: 18px;
                    cursor: pointer;
                    &:hover{
                        color: #c41d4a;
                    }
                }
                img{
                    width: 180px;
                    height: 270px;
                }
                span,a{
                    margin: 2px 0;
                }
            }
        }
    }
    .blur{
        z-index: -1;
        background-color: #ccc;
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }
}